<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
   <meta charset="UTF-8" /> 
  
   <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no" />
   <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />  
   <script th:src="@{/js/jquery/jquery-3.1.0.min.js}"></script>
   <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
   <script th:src="@{/js/stomp/sockjs-1.1.1.min.js}"></script>
   <script th:src="@{/js/stomp/stomp-2.3.3.min.js}"></script>
</head>

</html>